<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>

    

 <div class="index-image">

        <img src="images/2560px-International_Pokémon_logo.svg.png" alt="logo" style="height: 500px;">
        <img src="images/3345f008909edd9cc8374969d15e1a8f.png" alt="logo" style="height: 70PX;">

</div>


<div class="index-button">

    <button> <a href="/signup">Signup</a> </button>
    <button> <a href="/login">Login</a></button>
    
</div>


    
</body>
</html>




