<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>

    <nav>
	<div class="menu-btn">
		<div class="line line--1"></div>
		<div class="line line--2"></div>
		<div class="line line--3"></div>
	</div>

	<div class="nav-links">
		<a href="" class="link">All the Pokemons</a>
		<a href="" class="link">Your Profile</a>
		<a href="" class="link">Your Team</a>
		<a href="" class="link"> Pokemon Stats</a>
	</div>
    </nav>

<header>

    <div class="intro">

        <img src="images/2560px-International_Pokémon_logo.svg.png" alt="logo" style="height: 180px;">
        <img src="images/3345f008909edd9cc8374969d15e1a8f.png" alt="logo" style="height: 70PX;">


    </div>

    <div class="intro-2">

        <img  id="poke-image1" src="images/pokemon_PNG107.png" alt="pokeimage">

    </div>

</header>

<img src="" alt="">

<article class="landing">

    <section class="team"> 

        <h2> Your Team </h2>

    

    </section>


    <section class="selector"> 

    <h2> Your Options</h2>

        <div class="poke-filters">
            <h3> Filters </h3>

        
        </div>



        <div class="cardContainer">

            {{#each pokemon}}
                <div class="card">
                    <h2> {{this.name}} </h2> 
                    <p> {{this.url.sprites}} </p>
                </div>
            {{/each}}

        </div>



    </section>


<!-- Loop through Pokemon results & display them in a list -->

</article>

<footer>

    <div class="text-footer">
    <h2> This is a Ironhack project made by @Kumax @Carl @andalucinando <br> for the web development bootcamp in Berlin Summer 2021 </h2>
    <a href="https://github.com/kumax0"> Follow Kumax on Github</a> <br>
    <a href="https://github.com/andalucinando"> Follow Miguel on Github</a> <br>
    <a href="https://github.com/CarlBerthold"> Follow Carl on Github</a> <br>
    </div>

    <div class="images-footer">

    <img src="images/pokemon_PNG147.png" alt="pokeimage" height="500px">
    <img src="images/bibi.png" alt="pokeimage" height="300" style="margin-top: 100px;">
    <img src="images/bulbasur.png" alt="pokeimage" height="200px" style="margin-top: 150px;">
    </div>
</footer>
</body>
</html>

