<h1>this is my Profil</h1>
<h2> This is a test/ add it to the main branch  </h2>

<!-- Loop through Pokemon results & display them in a list -->
{{#each pokemon}}

<li>{{this.name}}</li>

{{/each}}
</ul>


