<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	



    <div class="box">
        <h2>SignUp</h2>
        <form action="/signup" method="POST">
            <div class="inputBox">
                <input type="text" name="username">
                <label for="">Username</label>
            </div>
            <div class="inputBox">
				<input type="password" name="password" id="password">
                <label for="">Password</label>
            </div>
          <input type="submit" name="" id="" value="Submit">
        </form>
        {{#if message}}
	        <p style="color: black">{{message}}</p>
        {{/if}} 
    </div>
    

<div id="singup-1">
<iframe id="singup-1" src="https://giphy.com/embed/kEu99A3FNcFwfE1YHs" width="233" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/pokemongo-pokemon-go-team-rocket-kEu99A3FNcFwfE1YHs"></a></p>
</div>

<div id="singup-2">
<iframe id="singup-2" src="https://giphy.com/embed/USzPo5bTywA2RyVzdk" width="234" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/pokemongo-pokemon-go-team-rocket-USzPo5bTywA2RyVzdk"></a></p>	
</div>


</body>
</html>
