body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffde41;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  color: red;
}

header {

  background-color:#ffde41;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 10px;

}

.intro {
  display: flex;
  flex-direction: column;
}

.intro > img {
margin-block: 20px;
}



#poke-image1{
  height: 400px;
  padding-left: 100px;
  padding-top: 0px;
  margin-left: 100px;
}

.team {

  border: 0.0625em solid darkgrey;
  padding: 50px;
  margin: 0 0 1.25em;
  position: relative;
  
}

.team > h2 {

  background-color: #f0f0f0;
  color: blue;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0.5em;
  position: absolute;
  top: -0.75em;
  z-index: 999;
}

.team > ul {
  background-color: red;
  size: 100px;
}







.selector {
 
  border: 0.0625em solid darkgrey;
  padding: 10px;
  margin: 0 0 1.25em;
  position: relative;

}

.selector > h2 {

  background-color: #f0f0f0;
  color: blue;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0.1em;
  position: absolute;
  top: -0.75em;
  z-index: 999;

}



.cardContainer {


  margin: 50px 100px 100px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.card {

  text-align: center;
  transition: box-shadow .3s;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
  }


.card:hover {
  box-shadow: 0 0 30px rgba(20, 20, 20, 0.2); 
}

footer{
  display: flex;
  justify-content: initial;
  flex-direction: row;
  gap: 300px;
}

.text-footer > h2{
  

}

.images-footer {
  margin-top: 0;
  display: flex;
  justify-content: initial;
  flex-direction: row;
  gap: 5px;

}