body{
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat ;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ffde41;
    top: 2;
}

//* displaying the menu bar *//

* {
  box-sizing: border-box;
  top: 0;
}


nav {
  overflow:hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  transform: translateX(-300px);
  height: 100%;
  width: 400px;
  transition: all 800ms cubic-bezier(.8, 0, .33, 1);
}

nav.nav-open {
  overflow: hidden;
  transform: translateX(0px);
  border-radius: 0% 0% 0% 0%;
 background:whitesmoke;
}

nav .menu-btn {
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 0;
  width: 30px;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
}

nav .menu-btn .line {
  padding: 0;
  width: 30px;
  background: #fff;
  height: 2px;
  margin: 5px 0;
  transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn .line.line--1 {
  width: 30px;
  transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
  width: 30px;
  transform: rotate(45deg) translateY(10px);
 background: rgba(0,0,0,0.6);
}

nav .menu-btn .line.line--2 {
  width: 28px;
  transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
  width: 28px;
  transform: translate(30px);
  opacity: 0;
}

nav .menu-btn .line.line--3 {
  width: 20px;
  transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
  width: 30px;
  transform: rotate(-45deg) translateY(-10px);
 background: rgba(0,0,0,0.6);
}

nav .nav-links {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
  opacity: 1;
  transform: translateX(0px);
}

nav .nav-links .link {
  margin: 20px 0;
  text-decoration: none;
  font-family: sans-serif;
  color: rgba(0,0,0,0.9);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links .link:hover {
  color: rgba(0, 0, 0, .5);
}


.inform{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: rgba(255, 255, 255, 0.8);
font-size: 2rem;
font-family: sans-serif;
text-transform: uppercase;
letter-spacing: 5px;
text-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.support{
position: absolute;
right: 10px;
bottom: 10px;
padding: 10px;
display: flex;
}
a{
margin: 0 20px;
color: #fff;
font-size: 2rem;
transition: all 400ms ease;
}

a:hover{
color: #222;
}



.index-button{
  position: absolute;
  left: 650px;
  size: 500px;

}

.index-button button {
  background-color: white;
  size: 600px;
  border-radius: 10px;
  height: 100px;
  width: 200px;
}


#login-1{

  padding-left: 200px;
  padding-top: 60px;
 
}

#singup-1{

  padding-left: 190px;
  padding-top: 100px;



}


#singup-2{
  position: absolute;
  top: 110px;
  left: 630px;

}


.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 40px;
    background: whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.box h2{
  margin: 0 0 30px;
  padding: 0;
  color: #03a9f4;
  text-align: center;
  font-size: 30px;
}
.box .inputBox{
  position: relative;
}
.box .inputBox input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.box .inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box input[type="submit"]{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn{

  size: 200px;

}



a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  color: red;
}

header {

  background-color:#ffde41;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 10px;

}

.intro {
  display: flex;
  flex-direction: column;
}

.intro > img {
margin-block: 20px;
}



#poke-image1{
  height: 400px;
  padding-left: 100px;
  padding-top: 0px;
  margin-left: 100px;
}

.team {

  border: 0.0625em solid darkgrey;
  padding: 50px;
  margin: 0 0 1.25em;
  position: relative;
  
}

.team > h2 {

  background-color: #f0f0f0;
  color: blue;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0.5em;
  position: absolute;
  top: -0.75em;
  z-index: 999;
}

.team > ul {
  background-color: red;
  size: 100px;
}







.selector {
 
  border: 0.0625em solid darkgrey;
  padding: 10px;
  margin: 0 0 1.25em;
  position: relative;

}

.selector > h2 {

  background-color: #f0f0f0;
  color: blue;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0.1em;
  position: absolute;
  top: -0.75em;
  z-index: 999;

}



.cardContainer {


  margin: 50px 100px 100px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.card {

  text-align: center;
  transition: box-shadow .3s;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
  }


.card:hover {
  box-shadow: 0 0 30px rgba(20, 20, 20, 0.2); 
}

footer{
  display: flex;
  justify-content: initial;
  flex-direction: row;
  gap: 300px;
}

.text-footer > h2{
  

}

.images-footer {
  margin-top: 0;
  display: flex;
  justify-content: initial;
  flex-direction: row;
  gap: 5px;

}

.card-picked {

  text-align: center;
  transition: box-shadow .3s;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
  }